/* presswork
 * owebboy
 */

// monochromatic colors
steel = #666666
iron = #C6CBCC
oil = #333333
black = #000000 

// text
html 
	font-family "Helvetica Neue", Arial, Helvetica, sans-serif;
	color steel
	font-kerning normal

html, body
	margin 0
	padding 0

*, *:before, *:after
	box-sizing border-box

p 
	font-weight 400
	font-size 1.05em
	margin 0

p, ol, ul
	line-height 1.75em

ol
	list-style decimal-leading-zero

li 
	list-style square

a
	color oil
	text-decoration none
	border-bottom 1px solid iron
	&:hover 
		border-color steel
		color black

code
	font-size .9em
	font-family Menlo, Consolas, Monaco, "Lucida Console", monospace

.uppercase
	text-transform uppercase
	letter-spacing .25em

.serif
	font-family Georgia, "Times New Roman", Times, serif

.bold, b, strong
	font-weight bold
	
.italic, i, em
	font-style italic
	
.oblique
	font-style oblique
	
.left
	text-align left
	
.center
	text-align center
	
.right
	text-align right

// headings
h1, h2, h3, h4, h5, h6
	font-weight 700
	margin .3em 0

h1, .h1
	font-size 2.4em
h2, .h2
	font-size 1.75em
h3, .h3
	font-size 1.5em
h4, .h4
	font-size 1.25em
h5, .h5
	font-size 1.15em
h6, .h6
	font-size 1.05em
	
// block elements
blockquote
	color iron
	border-left 1px solid iron

hr
	border 0
	border-bottom: 1px solid iron